* {box-sizing: border-box;}

/* Common */
body {
  font-family: Verdana, sans-serif; 
  margin: 0;
  color: #444444;
}

.container-single-page {
  max-width: 80%;
  margin: auto;
  padding: 3rem;
}

/* Header */
.header {
  background-color: white!important;
}

.header-title {
  margin-bottom: 0;
  padding: 2rem;
  border: solid lightgray;
  border-width: 1px 0 1px 0;
  background-color: whitesmoke;
}

/* Carousel */
#carouselBanner .carousel-inner img {
  height: 200px;
  object-fit: cover; 
  opacity: 0.9;
}

/* Product Detail */
.product-detail {
  margin-top: 3rem;
}

.product-detail .card {
  padding: 20px;
}

.product-detail .info {
  margin-bottom: 2rem;
}

.product-detail .info .product-description {
  padding-left: 2rem;
}

.product-detail .info .product-description p {
  text-align: justify;
}

.product-detail .product-image img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.product-detail .other .image-list {
  display: flex;
  justify-content: space-between;
}

.product-detail .other .image-list img {
  width: 150px;
  height: 100px;
  object-fit: cover; 
}