/* * {box-sizing: border-box;}

/* Common */
body {
  font-family: Verdana, sans-serif; 
  margin: 0;
  color: #444444;
  background-color: whitesmoke;
}

.container-single-page {
  max-width: 80%;
  margin: auto;
  padding: 3rem;
}

/* Header */
.header-title {
  margin-bottom: 0;
  padding: 2rem;
  border: solid lightgray;
  border-width: 1px 0 1px 0;
  background-color: white;
}

/* Carousel */
#carouselBanner .carousel-inner img {
  height: 200px;
  object-fit: cover; 
  opacity: 0.9;
}

/* Home */
.productList .card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
}

.productList .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-tabs-empty {
  width: 20%
}

.home-tabs-item {
  width: 15%;
  text-align: center;
}

.productList-pagination {
  display: flex;
  justify-content: center;
}

/* Product Detail */
.product-detail {
  margin-top: 3rem;
}

.product-detail .card {
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
}

.product-detail .info {
  margin-bottom: 2rem;
}

.product-detail .info .product-description {
  padding-left: 2rem;
}

.product-detail .info .product-description p {
  text-align: justify;
}

.product-detail .product-image img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.product-detail .other .image-list {
  display: inline-block;
}

.product-detail .other .image-list img {
  width: 150px;
  height: 100px;
  object-fit: cover; 
}