/* 
.product-detail {
  margin-top: 3rem;
}

.product-detail .card {
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
}

.product-detail .info {
  margin-bottom: 2rem;
}

.product-detail .info .product-description {
  padding-left: 2rem;
}

.product-detail .info .product-description p {
  text-align: justify;
}

.product-detail .product-image img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.product-detail .other .image-list {
  display: inline-block;
}

.product-detail .other .image-list img {
  width: 150px;
  height: 100px;
  object-fit: cover; 
} */